---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import '../styles/global.css';
---

<Layout title="Ethan Crann">
	<main id="tv" class="powerWrapper">
		<div class="crt vignette">
			<h1 class="siteTitle">Ethan Crann</h1>
            <p id="paragraph">
                Blog Page is currently under construction. <br>
            </p>
            <NavLink href="/" text="return"/>
		</div>
	</main>
</Layout>