---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import '../styles/global.css';
---

<Layout title="Ethan Crann">
	<main id="tv" class="powerWrapper">
		<div class="crt vignette">
			<h1 class="siteTitle">Ethan Crann</h1>
            <p id="paragraph">
                <div class="growDiv">
                    <div class="pageLink">
                        <i class="fa-solid fa-envelope"></i> <a href="mailto: ecrann@protonmail.com">Email</a>       
                    </div>
                </div>
                
                <div class="growDiv">
                    <div class="pageLink">  
                        <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/ethan-c-899367115">LinkedIn</a>
                    </div>
                </div>
                
                <div class="growDiv">
                    <div class="pageLink">
                        <i class="fa-brands fa-github"></i> <a href="https://github.com/mynameisgump">Github</a>   
                    </div>
                </div>

                <div class="growDiv">
                    <div class="pageLink">
                        <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/thecrypticcanadian?igsh=MWZ4bWllZ3NqZnpldw%3D%3D&utm_source=qr">Instagram</a>     
                    </div>
                </div>

                <div class="growDiv">
                    <div class="pageLink">
                        <i class="fa-brands fa-steam"></i> <a href="https://steamcommunity.com/profiles/76561198044735675/">Steam</a>  
                    </div>
                </div>
            </p>
            <NavLink href="/" text="return"/>
		</div>
	</main>
</Layout>