---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import '../styles/global.css';
---

<Layout title="Ethan Crann">
	<main id="tv" class="powerWrapper">
		<div class="crt vignette">
			<h1 class="siteTitle">Ethan Crann</h1>
			<div class="linkContainer">
				<NavLink href="/info" text="info" />
				<NavLink href="/projects" text="projects"/>
				<NavLink href="/blog" text="blog"/>
				<NavLink href="/contact" text="contact" />
			</div>
			<script>
				function handleTitleClick() {
					console.log("Test")
				}
				console.log("Hello")

				const title = document.querySelector('h1.siteTitle');
				if (title){
					title.addEventListener('click', () => {
						reset_animation();
					});
				}

				function reset_animation() {
					var el = document.getElementById('tv');
					console.log("God Why",el)
					if (el) {
						el.style.animation = 'none';
						el.offsetHeight; /* trigger reflow */
						el.style.animation = ""; 
					}
				}
			</script>
		</div>
	</main>
</Layout>
