---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import '../styles/global.css'
---

<Layout title="Ethan Crann">
	<main id="tv" class="powerWrapper">
		<div class="crt vignette">
			<h1 class="siteTitle">Ethan Crann</h1>
            <p id="paragraph">
                - Full time software developer currently living in St.John's Newfoundland
                <br>
                - Currently working for Enaimco, and previously worked for eDNAtec
                <br>
                - Main interests include Web 3D, Game Development, and Web Development
                <br>
                - Graduated from MUN with a Bachelor of Science in 2023
                <br>
                - Instructor at Get Coding
                <br>
            </p>
            <NavLink href="/" text="return"/>
		</div>
	</main>
</Layout>