---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import "../styles/global.css";
import Carosel from '../react/carosel';

---

<Layout title="Ethan Crann">
	<main id="tv" class="powerWrapper">
		<div class="crt vignette">
			<Carosel client:only/>
            <NavLink href="/" text="return"/>
		</div>
	</main>
</Layout>